/* @import "reset.css"; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tab.css";
@font-face {
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 에스코어드림 폰트!! */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


*{
    font-family: 'S-CoreDream-3Light';
    text-decoration-line: none;
    font-weight:bold;
}
:root{
    --text-color-grey: rgba(0, 0, 0, 0.508);
}
input[type=submit]{
    cursor: pointer;
}
a {
    text-align: center;
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}
body{
    width: 90%;
    margin: 0 auto;
}
/* 부분설정 */
.grid{
    display: grid;
}
.bold{
    font-weight:bold;
}
.flex {
    display: flex;
}
.inline-block{
    display: inline-block;
}
.center{
    justify-content: space-evenly;
    align-items: center;
}
.wrapper{
    margin: 0 auto;
}
.box_half{
    width: 50%;
    height: 67px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #B8B8B8;
    padding-left: 10px;
    font-size: larger;
}
.f_size12{
    font-size: 12px;
}
/* 해드부분 */
#TOP{
    background: #FFFFFF;
    border-bottom: 1px solid #000000;
    height: 129px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 15px 15px;
}
.main_Logo{
    height: 129px;
    width: 121px;
}
.header_main{
    height: 86px;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.header_main a:not(:last-child){
    border-right: #000000 1px solid;
    padding-right: 10px;
}
.header_main a:last-child{
    padding-left: 10px;
}

.header_font{
    font-family: 'Inter', sans-serif;
}
.header_left{
    align-items: flex-end;
    height: 100%;
}
.header_left a:not(:last-child){
    border-right: #000000 1px solid;
    padding-right: 10px;
}
.header_left a:last-child{
    padding-left: 10px;
}
/* 해드부분 끝 */
/* 메인부분 */
main{
    margin-top: 10px;
}
/* 로그인 CSS */
#login{
	margin-top: 50px;
}
#login h1{
    text-align: center;
}
.login_input{
    width: 100%;
    height: 67px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #B8B8B8;
    padding-left: 10px;
    font-size: larger;
}

.login{
	width:450px;
	font-family:normal;
    flex-direction: column;
    
}
.login_button{
    width: 103%;
    height: 67px;
    background: #C5DDC3;
    border: 1px solid #B8B8B8;
    color: white;
    font-size: larger;
}
/* 로그인 CSS 끝 */
/* 회원가입 CSS */
#sign h1{
    text-align: center;
}
#sign{
    width: 489px;
    margin:0 auto; 
    margin-bottom: 5%;
}
#age{
}
.sign{
    width:450px;
	font-family:normal;
    flex-direction: column;
}
.sign_input_half{
    width: 50%;
    height: 67px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #B8B8B8;
    padding-left: 10px;
    font-size: larger;
}
.sign_input{
    width: 100%;
    height: 67px;
    margin-bottom: 10px;
    background: #FFFFFF;
    border: 1px solid #B8B8B8;
    padding-left: 10px;
    font-size: larger;
}
.sign_input label{
    line-height: 67px;
}
.sign_button{
    width: 103%;
    height: 67px;
    background: #C5DDC3;
    border: 1px solid #B8B8B8;
    color: white;
    font-size: larger;
}
/* 성별 */
#gender_woman ~ label{
    margin-right: 30px;
}
.gender{
    justify-content: space-between;
    padding: 1px 2px;
}
.gender_box{
    width: 103%;
    height: 67px;
    margin-bottom: 10px;
}
.box_half p{
    color: rgba(0, 0, 0, 0.508);
}
.box_half input[type=radio]{
    display: none;
}
.box_half input[type=radio]+label{
    display: inline-block;
    cursor: pointer;

    line-height: 24px;
    text-align: center;
    font-weight:bold;
}
.box_half input[type=radio]+label{
    color: var(--text-color-grey);
}
.box_half input[type=radio]:checked+label{
    color: rgb(0, 0, 0);
}

/* 옷 피팅 */
.CLTHN {
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.sublist {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
}

.sublist > a{
    padding: 0.5em;
}

.content {
    background-color: #f1f1f1;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}

.viewCLOSET_area {
    display: flex;
    background-color: #f4f4f4;
    padding: 1em;
    width: 16%;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    margin-left: 1em
}

.viewCLOSET {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: whitesmoke;
}
.viewCLOSET_under {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 10%;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.fitting_area {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 60%;
    height: 500px;
    position: relative;
    overflow: hidden;
    padding: 1em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.fitting {
    display: none;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    border: 0
}

/* 마이페이지 */
.my_page .tab_wrap{
    width: 100%;
    
}
.my_page .btn_area{
    margin-left: 100px;
    
    
}.my_page .content_area #my_board{
    margin-left: 100px;
    background-color: rgba(0, 0, 0, 0);
    
}

.my_page #my_btn_tab .btn_tab.act{
    background-color: white;
    color: #000000;
    border-bottom: #000000 solid 5px;
    
}
.my_page #my_btn_tab .btn_tab{
    height: 50px;   
}
.my_page .tab_wrap .content_area table{
    width: 1105px;
    text-align: center;
    border-collapse : collapse;
    border-spacing : 0;
}
.my_page table tr:first-child{
    height: 45px;
    
}
.my_page table tr td{
    border-bottom: #000000 solid 1px;
    
    
} 
.my_page #my_bltn button{
    height: 40px;
}
/* .my_page div[data-idx="1"] #my_bltn{
    margin-left: 220px;
} */

/* 마이페이지 끝 */
.section {
    margin-top: 1em;
}

.section input[name="slide"] {
    display: none;
}

.section .slidewrap {
    max-width: 1200px;
    margin:0 auto;
    overflow: hidden;
}

.section .slidelist {
    white-space: nowrap;
    font-size: 0;
}

.section .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .5s;
}

.section .slidelist > li > a {
    display: block;
    position: relative;
    width: 90%;
}

.section .slidelist > li > a img {
    width: 500px;
    height: 450px;
    opacity: 1;
    float: right;
}

.section .slidelist label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.section .slidelist .left {
    left: 50px;
    background:url('../img/slide-left.png');
    background-size: cover;
    opacity: 0.1;
}

.section .slidelist .right {
    right: 50px;
    background:url('../img/slide-right.png');
    background-size: cover;
    opacity: 0.1;
}

.section [id="slide01"]:checked ~ .slidewrap .slidelist > li {transform: translateX(0%);}
.section [id="slide02"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-100%);}
.section [id="slide03"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-200%);}

.section .slide-control [class*="control"]{display: none;}
.section [id="slide01"]:checked ~ .slidewrap .control01 {display: block;}
.section [id="slide02"]:checked ~ .slidewrap .control02 {display: block;}
.section [id="slide03"]:checked ~ .slidewrap .control03 {display: block;}

.slide-info {
    font-size: x-large;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 300%;
    flex-direction: column;
}

.home-btn {
    display: flex;
    background: #555;
    color: #fff;
    border: none;
    position: relative;
    height: 60px;
    font-size: 0.9em;
    padding: 0 1em;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    align-items: center;
}

.home-btn:hover {
    background: #fff;
    color: #555;
}

.home-btn:before,
.home-btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #555;
    transition: 400ms ease all;
}

.home-btn:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.home-btn:hover:before,
.home-btn:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.myCLOST-btn{
    width: 5em;
    height: 2.5em;
    background: #f4f4f4;
    border: 1px solid #B8B8B8;
    color: black;
    font-size: medium;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    margin-top: 0.3em;
}

/* POST */ 
.POST {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 90%;
    height: 400px;
}

.POST_img {
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-top: 1em;
}

.POST_content {
    display: flex;
    padding-left: 3em;
    padding-right: 3em;
    flex-direction: column;
}

.POST_content > h1 {
    padding-top: 1em;
}

.POST_content > span {
    line-height: 2em;
}

.POST_content_icon {
    display: flex;
}
.POST_content_icon > p {
    margin-right: 1em;
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    background-color: pink;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 5px;
    margin-left: 1em;
}

.POST_content_icon > p:hover {
    margin-left: 1em;
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: 2px solid translate;
}

.POST_content_info {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.POST_content_info > div > p {
    padding-right: 1em;
}


.POST_product {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    overflow: auto;
}

.POST_product_list {
    display: flex;
    margin-bottom: 1em;
}

.POST_product_list > div {
    margin-left: 0.8em;
    margin-right: 2em;
    padding-top: 2em;
    padding-bottom: 1em;
    padding-right: 2em;
    padding-left: 2em;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 4px;
}

.POST_product_list>div:hover {
    margin-top: -2px;
    /* margin-left: 0px; */
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: 2px solid translate;
}

.POST_product_list > div > p {
    text-align: center;
    margin: auto;
}

.POST_comment {
    margin: auto;
    width: 90%;
}

.POST_comment_input {
    display: flex;
    height: 8em;
    width: 100%;
}

.POST_comment_input > input:nth-child(1) {
    width: 90%;
    margin-bottom: 2em;
}

.POST_comment_input > input:nth-child(2) {
    width: 10%;
    margin-bottom: 2em;
}

.POST_comment_list {
    display: flex;
    flex-direction: column;
}

.POST_commnet_list1 {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
}

.POST_comment_list > div > ul:nth-child(1) {
    list-style: none;
    display: flex;
    padding-left: 1em;
}

.POST_comment_list > div > ul:nth-child(2) {
    list-style: none;
    display: flex;
    padding-left: 1em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.POST_comment_list > div > ul:nth-child(3) {
    list-style: none;
    display: flex;
    padding-left: 1em;
    margin-top: 0.1em;
}

/* WRITE */

.WRITE_form_all {
    margin: auto;
    width: 85%;
}

.WRITE_form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    height: 400px;
}
.WRITE_img {
    display: flex;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    margin-top: 1em;
}

.WRITE_content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    margin-left: 1em;
}

.WRITE_content > div {
    display: flex;
    margin-top: 1em;
    width: 100%;
    flex-direction: row;
}

.WRITE_content > div > input:nth-child(1) {
    font-size: large;
    width: 85%;
    height: 2em;
    border: 0px;
}

.WRITE_content > div > select{
    width: 15%;
    text-align: center;
}

.WRITE_content > textarea {
    height: 100%;
    font-size: large;
    line-height: 35px;
    margin-top: 0.5em;
    border: 0px;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 1px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    resize: none;
}

.WRITE_submit {
    margin-top: 1em;
    width: 47%;
    font-size: large;
    border: 0px;
    background: black;
    border-radius: 3px;
    color: white;
}   

.WRITE_submit:hover{
    margin-left: 0px;
    transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border: 2px solid translate;
}

.WRITE_product {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* 신발 목록 */
.SHOES_list {
    display: flex;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: white;
    box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.SHOES_list:hover {
    transform: scale(1.07, 1.07);
    -ms-transform: scale(1.07, 1.07);
    -webkit-transform: scale(1.1, 1.1);
    transition: all .2s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border:black 1px solid;
    border-radius: 3px;
}

.size_check {
    display: none;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    justify-content: center;
    border-top: 1px solid black;
    margin-top: 1em;
}

.SHOES_list:hover .size_check {
    display: grid;
}

.size_check > span {
    margin-top: 1em;
    font-size: 0.8em;
    padding-left: 1em;
    padding-right: 1em;
}

.SHOES_list_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 1em;
    margin-left: 1em;
    height: 100%;
    width: 100%;
}

.SHOES_list_tag {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 1em;
}

.SHOES_list_tag > p {
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 1em;
    background-color: pink;
    padding: 0.5em;
    border-radius: 3px;
    width: 33%;
    font-size: 0.9em;
    text-align: center;
}

/* 서비스 소개 */
.info {
    margin: auto; 
    overflow: auto;
    width: 90%;
}

.info span {
    font-style: italic; 
    margin-right: 6px; 
    text-decoration: underline;
}

.info p {
    text-align: center; 
    font-size: x-large;
}

.info h2 {
    text-align: center;
}

.info_list {
    display: flex; 
    flex-direction: column;
}

.info_list > div:nth-child(2n){
    background-color: white;
}

.info_list > div:nth-child(2n-1){
    background-color: antiquewhite;
}