#root {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
  }
  .Upload{
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
  }
  .Upload_name{
    grid-template-columns: repeat(3 , 1fr);
    align-items: center;
    justify-items: center;
  }
  .title {
    text-align: center;
  }
  
  .contents {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  .contents .upload-box {
    width: 100%;
    /* margin-right: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .contents .upload-box .drag-file {
    position: relative;
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px dashed #dbdbdb;
  }
  .contents .upload-box .drag-file.highlight {
    border: 3px dashed red;
  }
  .contents .upload-box .drag-file .image {
    width: 40px;
  }
  .contents .upload-box .drag-file .message {
    margin-bottom: 0;
  }
  .contents .upload-box .drag-file .preview {
    display: none;
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    height: 100%;
  }
  .contents .upload-box .file-label {
    margin-top: 30px;
    background-color: #5b975b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 65%;
    border-radius: 6px;
    cursor: pointer;
  }
  .contents .upload-box .file {
    display: none;
  }
  
  @media (max-width: 700px) {
    .contents {
      display: flex;
      flex-direction: column;
      margin-top: 30px;
    }
    .contents .upload-box {
      width: 100%;
      box-sizing: border-box;
      margin-right: 0;
    }
    .contents .upload-box .drag-file {
      height: 150px;
    }
    .contents .files {
      width: 100%;
      box-sizing: border-box;
      margin-right: 0;
      overflow: initial;
    }
  }

  .foot_box{
    justify-content: center;
    align-items: center;
    width: 442px;
    text-align: center;
    background: #F1B8B8;
    border-radius: 14px;
  }
  .foot_box:nth-child(1){
    grid-column: 1 / 2;
  }
  .foot_box:nth-child(2){
    grid-column: 3 / 4;
  }
  .foot_box p {
    width: 47px;
  }
  .foot_size_img_h,.foot_size_img_w{
    display: contents;
  }
  .foot_size_img_h img{
    min-width: 100px;
    width: 70%;
    /* height: 136px; */
  }
  .foot_size_img_w img{
    min-height: 100px;
    height: 57%;
  }
  .sp_contents i{
    font-size: 2rem;
  }