<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="${cpath}/resources/css/style.css">
    <link rel="stylesheet" href="/src/main/webapp/resources/css/style.css">
</head>
<body>
    <header>
        <div id="TOP" class="flex">
            <div><a href=""><img src="/src/main/webapp/resources/img/MainLogo.png" alt="" class="main_Logo"></a></div>
            <div class="flex header_main">
                <div><a href=""><h1 id="header_font">COORDI FOR SHOES</h1></a></div>
                <div><a href="">서비스소개</a><a href="">공지사항</a></div>
            </div>
            <div class="flex header_left">       
                <div><a href="">로그인</a><a href="">회원가입</a></div>
            </div>
        </div>
    </header>
    <main>
        <div class="tab_wrap tab_area">
            <div class="btn_area clearfix">
              <button class="btn btn_tab act" data-depth="0" data-idx="0">내정보</button>
              <button class="btn btn_tab" data-depth="0" data-idx="1">커뮤니티</button>
            </div>
            
            <div class="content_area act" data-depth="0" data-idx="0">First tab content</div>
            <div class="content_area" data-depth="0" data-idx="1">
              <p>Second tab content</p>
              <div class="tab_area">
                <div class="btn_area clearfix">
                  <button class="btn btn_tab act" data-depth="1" data-idx="0">First</button>
                  <button class="btn btn_tab" data-depth="1" data-idx="1">Second</button>
                  <button class="btn btn_tab" data-depth="1" data-idx="2">Third</button>
                  <button class="btn btn_tab" data-depth="1" data-idx="3">Fourth</button>
                </div>
          
                <div class="content_area act" data-depth="1" data-idx="0">2Depth First tab content</div>
                <div class="content_area" data-depth="1" data-idx="1">2Depth Second tab content</div>
                <div class="content_area" data-depth="1" data-idx="2">2Depth Third tab content</div>
                <div class="content_area" data-depth="1" data-idx="3">2Depth Fourth tab content</div>
              </div>
            </div>
            <!-- <div class="content_area" data-depth="0" data-idx="2">
              <p>Third tab content</p>
              <div class="tab_area">
                  <div class="btn_area clearfix">
                    <button class="btn btn_tab act" data-depth="1" data-idx="0">First</button>
                    <button class="btn btn_tab" data-depth="1" data-idx="1">Second</button>
                    <button class="btn btn_tab" data-depth="1" data-idx="2">Third</button>
                    <button class="btn btn_tab" data-depth="1" data-idx="3">Fourth</button>
                  </div>
          
                  <div class="content_area act" data-depth="1" data-idx="0">2Depth First tab content</div>
                  <div class="content_area" data-depth="1" data-idx="1">2Depth Second tab content</div>
                  <div class="content_area" data-depth="1" data-idx="2">2Depth Third tab content</div>
                  <div class="content_area" data-depth="1" data-idx="3">2Depth Fourth tab content</div>
                </div>
              </div>
            <div class="content_area" data-depth="0" data-idx="3">Fourth tab content</div> -->
          </div>
    </main>
    <footer>

    </footer>
    <script src="/src/main/webapp/resources/JS/tabmenu.js"></script>
</body>
</html>