<!-- <c:set var="cpath" value="${pageContext.request.contextPath}"/> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/webapp/resources/css/style.css">
</head>

<body>
    <header>
        <div id="TOP" class="flex">
            <div><a href=""><img src="/src/main/webapp/resources/img/MainLogo.png" alt="" class="main_Logo"></a></div>
            <div class="flex header_main">
                <div><a href="">
                        <h1 id="header_font">COORDI FOR SHOES</h1>
                    </a></div>
                <div><a href="">서비스소개</a><a href="">공지사항</a></div>
            </div>
            <div class="flex header_left">
                <div><a href="">로그인</a><a href="">회원가입</a></div>
            </div>
        </div>
    </header>
    <main>
        <div id="sign" class="center"> 
            <form action="">
            <h1>회원가입</h1>
            <input type="text" placeholder="아이디" class="sign_input">
            <input type="password" placeholder="비밀번호" class="sign_input">
            <input type="text" placeholder="미정" class="sign_input">
            <input type="password" placeholder="미정" class="sign_input">
            <div class="flex gender_box">
                <div class="box_half flex center gender">
                    <P>성별</P>
                    <input type="radio" value="man" name="gender" class="sign_input_radio" id="gender_man">
                    <label for="gender_man">남</label>
                    <input type="radio" value="woman" name="gender" class="sign_input_radio" id="gender_woman">
                    <label for="gender_woman">여</label>
                </div>
                <input type="text" placeholder="나이" class="box_half flex" id="age" >
            </div>
            
            <input type="submit" value="회원가입" class="login_button">
            </form>
        </div>
    </main>
    <footer></footer>
</body>

</html>