<c:set var="cpath" value="${pageContext.request.contextPath}" />
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/main/webapp/resources/css/style.css">
    <link rel="stylesheet" href="/src/main/webapp/resources/css/foot_page.css">
</head>

<body>
    <header>
        <div id="TOP" class="flex">
            <div><a href=""><img src="/src/main/webapp/resources/img/MainLogo.png" alt="" class="main_Logo"></a></div>
            <div class="flex header_main">
                <div><a href="">
                        <h1 id="header_font">COORDI FOR SHOES</h1>
                    </a></div>
                <div><a href="">서비스소개</a><a href="">공지사항</a></div>
            </div>
            <div class="flex header_left">
                <div><a href="">로그인</a><a href="">회원가입</a></div>
            </div>
        </div>
    </header>
    <main>
        <h2>내 발사이즈</h2>
        <div class="flex center">
            <!-- 발사이즈 모양 -->
            <div class="t_center">
                <div class="foot_img">
                    <img src="https://via.placeholder.com/111x111" alt="">
                </div>
                <a href="" class="bold">발사이즈 측정</a>
            </div>
            <!-- 발사이즈 상세정보 -->
            <table class="t_center">
                <tr class="bold">
                    <td>왼발</td>
                    <td></td>
                    <td>오른발</td>
                </tr>
                <tr>
                    <td><span>250<span>mm</span></span></td>
                    <td>길이</td>
                    <td><span>250<span>mm</span></span></td>
                </tr>
                <tr>
                    <td><span>96<span>mm</span></span></td>
                    <td>발볼</td>
                    <td><span>96<span>mm</span></span></td>
                </tr>
            </table>
            <!-- 추천 발사이즈 -->
            <div class="t_center">
                <h3>추천 발사이즈</h3>
                <div id="choice_size" class="flex center">
                    <span>270</span>
                    <span>mm</span>
                </div>
            </div>
        </div>
<!-- 신발 추천 -->
        <div>
            <h2>신발 추천</h2>
            <div>
                <h3>운동화</h3>
                <div class="flex evenly">
                    <div class="shoes_box t_center">
                        <a href="">
                        <img src="https://via.placeholder.com/118" alt="" class="shoes_img">
                        <div class="margin_0">
                            <h4>브랜드</h4>
                            <p>제품명</p>
                            <P>제품가격</P>
                        </div>
                        <div id="shoes_content" class="grid">
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                            <div class="shoes_content_box t_center">
                                아디다스
                            </div>
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                        </div>
                        <div class="shoes_size_box">
                            <hr>
                            <div id="shoes_size" class="grid">
                                <div>250</div>
                                <div>255</div>
                                <div>260</div>
                                <div>265</div>
                                <div>270</div>
                                <div>270</div>
                            </div>
                        </div>
                        </a>
                    </div>
                    <div class="shoes_box t_center">
                        <img src="https://via.placeholder.com/118" alt="" class="shoes_img">
                        <div class="margin_0">
                            <h4>브랜드</h4>
                            <p>제품명</p>
                            <P>제품가격</P>
                        </div>
                        <div id="shoes_content" class="grid">
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                        </div>
                    </div>
                    <div class="shoes_box t_center">
                        <img src="https://via.placeholder.com/118" alt="" class="shoes_img">
                        <div class="margin_0">
                            <h4>브랜드</h4>
                            <p>제품명</p>
                            <P>제품가격</P>
                        </div>
                        <div id="shoes_content" class="grid">
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                        </div>
                    </div>
                    <div class="shoes_box t_center">
                        <img src="https://via.placeholder.com/118" alt="" class="shoes_img">
                        <div class="margin_0">
                            <h4>브랜드</h4>
                            <p>제품명</p>
                            <P>제품가격</P>
                        </div>
                        <div id="shoes_content" class="grid">
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                            <div class="shoes_content_box t_center">
                                운동화
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <h3>구두</h3>
                <div class="flex center">
                    <div class="shoes_box"></div>
                    <div class="shoes_box"></div>
                    <div class="shoes_box"></div>
                    <div class="shoes_box"></div>
                </div>
            </div>
            
        </div>
    </main>
    <footer></footer>
</body>

</html>